.caurosel-img {
  height: 65vh;
}

.t-primary {
  color: #e4e4e4;
}

.carousel-caption {
  bottom: -1rem !important;
}

.t-caption {
  color: #010C80 !important;
}

body {
  background-color: #e4e4e4;
}

/* .box-upload {
  border: 2px solid #010C80;
} */

.btn-primary {
  background-color: #010C80 !important;
  padding: 10px;
  border: none !important;
}

.btn-primary:hover {
  background-color: #051088;
  opacity: 0.9;
}

.btn-txt {
  font-size: 25px !important;
}

.backgroung-img{
  transform: scaleX(1.5); /* Increase the width by 1.5 times on hover */
  transition: transform 0.3s ease-in-out;
}

.Scroll {
  text-align: center;
  font-size: 50px;
}

.Scroll-logo {
  pointer-events: none;
  max-width: 100%;
}
.Scroll-btn{
  background-color: #010C80 !important;
  padding: 10px;
  margin: 20px;
  border: none !important;
  border-radius: 10px;
}
.Scroll-btn:hover {
  background-color: #051088;
  opacity: 0.9;
}

.Scroll-header {
  background-color:#fff !important ;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white ;
  opacity: 1 !important;
}

.Scroll-link {
  color: #61dafb;
}

.Scroll-main {
  padding: 200px 10% 400px 10%;
  margin: 0 auto;
  background: rgb(118,44,237);
  background: linear-gradient(0deg, rgba(118,44,237,0.6162114504004728) 79%, rgba(35,59,242,0) 100%);
}

.Scroll-section {
  max-width: calc(50% - 50px);
  margin: 0 auto 100px auto;
  padding: 50px;
  background-color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.caurosel_data {
  width: 50%;
  margin: auto;
}

.button-div {
  max-width: 60%;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: -120px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.aboutus {
 max-width: 50%;
 padding: 50px;
 text-align: justify;
 font-size: 1.2rem;
}

.asdfasdf {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  max-width: 1300px;
}

.asdfimg {
  max-width: 40%;
}
.asdfimg img{
  max-width: 100%;
}
